Plant details component!!!!!
<div *ngIf="plant">
  <h2>{{plant.name}} details!</h2>
  <div><label>id: </label>{{plant._id}}</div>
  <div>
  <label>name: </label>
  <input [(ngModel)]="plant.name" placeholder="name">
  </div>
  <div>
  <label>color: </label>
  <input [(ngModel)]="plant.color" placeholder="color">
  </div>
  <div>
  <!-- <label>type: </label>
  <input [(ngModel)]="plant.type" placeholder="type"> -->
  <label>type:</label>
  <select [(ngModel)]="plant.type" placeholder="herb">
            <option value=""></option>
            <option *ngFor="let t of types" [value]="t">{{t}}</option>
        </select>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>
  </div>
